/* .side-nav{
    display:grid;

}

.profile{

}


.controls{
    display:grid;
    grid-gap:10%;
}

.btn{
    padding:5px;
    margin:5px;
}

.shift_request{

}

.create_week{

}

.give_options{

}

.add_remove{

} */
